<!DOCTYPE html>
<html lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>404 PAGE</title>

    <!-- ::::::::::::::Favicon icon::::::::::::::-->
    <link rel="shortcut icon" href="/userassets/images/favicon.ico" type="image/png">

 
    <link rel="stylesheet" href="/userassets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/userassets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="/userassets/css/style.min.css">

</head>

<body>
    <!-- Start Header Area -->
<header class="header-section d-none d-xl-block">
    <div class="header-wrapper">
        <div class="header-bottom header-bottom-color--golden section-fluid sticky-header sticky-color--golden">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Start Header Logo -->
                        <div class="header-logo">
                            <div class="logo">
                                <a href="/home"><img src="/userassets/images/techoasis_logo.png" alt="logo"></a>
                            </div>
                        </div>
                        <!-- End Header Logo -->

                        <!-- Start Header Main Menu -->
                        <div class="main-menu menu-color--black menu-hover-color--golden">
                            <nav>
                                <ul>
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="/shop">Shop</a></li>
                                    <li><a href="/profile">My Account</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- End Header Main Menu Start -->

                        <!-- Start Header Action Link -->
                        <ul class="header-action-link action-color--black action-hover-color--golden">
                            <!-- <li>
                                <div class="col-search">
                                    <form class="searchForm" id="searchForm">
                                        <div class="input-group">
                                            <input name="search" type="text" class="form-control" placeholder="Search">
                                            <button class="btn btn-black-default-hover bg" type="submit"> <i class="icon-magnifier"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </li> -->
                            <li>
                                <a href="#" class="offcanvas-toggle">
                                    <i class="icon-heart"></i>
                                    <!-- <span class="item-count">3</span> -->
                                </a>
                            </li>
                            <li>
                                <a href="/cart">
                                    <i class="icon-bag"></i>
                                    <!-- <span class="item-count">3</span> -->
                                </a>
                            </li>
                            <li>
                                <a href="/logout">
                                    <i class="icon-power"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#offcanvas-about" class="offacnvas offside-about offcanvas-toggle">
                                    <i class="icon-menu"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- End Header Action Link -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Start Header Area -->

<!-- Start Mobile Header -->
<div class="mobile-header mobile-header-bg-color--golden section-fluid d-lg-block d-xl-none">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <!-- Start Mobile Left Side -->
                <div class="mobile-header-left">
                    <ul class="mobile-menu-logo">
                        <li>
                            <a href="/home">
                                <div class="logo">
                                    <img src="/userassets/images/techoasis_logo.png" alt="">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Mobile Left Side -->

                <!-- Start Mobile Right Side -->
                <div class="mobile-right-side">
                    <ul class="header-action-link action-color--black action-hover-color--golden">
                        <!-- <li>
                            <div class="col-search">
                                <form class="searchForm" id="searchForm">
                                    <div class="input-group">
                                        <input name="search" type="text" class="form-control" placeholder="Search">
                                        <button class="btn btn-black-default-hover bg" type="submit"> <i class="icon-magnifier"></i></button>
                                    </div>
                                </form>
                            </div>
                        </li> -->
                        <li>
                            <a href="#" class="offcanvas-toggle">
                                <i class="icon-heart"></i>
                                <!-- <span class="item-count">3</span> -->
                            </a>
                        </li>
                        <li>
                            <a href="/cart">
                                <i class="icon-bag"></i>
                                <!-- <span class="item-count">3</span> -->
                            </a>
                        </li>
                        <li>
                            <a href="#mobile-menu-offcanvas" class="offcanvas-toggle offside-menu">
                                <i class="icon-menu"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Mobile Right Side -->
            </div>
        </div>
    </div>
</div>
<!-- End Mobile Header -->

<!--  Start Offcanvas Mobile Menu Section -->
<div id="mobile-menu-offcanvas" class="offcanvas offcanvas-rightside offcanvas-mobile-menu-section">
    <!-- Start Offcanvas Header -->
    <div class="offcanvas-header text-right">
        <button class="offcanvas-close"><i class="ion-android-close"></i></button>
    </div> <!-- End Offcanvas Header -->
    <!-- Start Offcanvas Mobile Menu Wrapper -->
    <div class="offcanvas-mobile-menu-wrapper">
        <!-- Start Mobile Menu  -->
        <div class="mobile-menu-bottom">
            <!-- Start Mobile Menu Nav -->
            <div class="offcanvas-menu">
                <ul>
                    <li><a href="/home">HOME</a></li> 
                    <li><a href="/shop">SHOP</a></li>
                    <li><a href="/profile">My Account</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="/logout">LOGOUT</a></li>
                </ul>
            </div> <!-- End Mobile Menu Nav -->
        </div> <!-- End Mobile Menu -->

        <!-- Start Mobile contact Info -->
        <div class="mobile-contact-info">
            <div class="logo">
                <a href="/home"><img src="/userassets/images/techoasis_logo.png" alt="company-logo"></a>
            </div>

            <address class="address">
                <span>Address: 41/353,Basement 1,Oberon mall, NH Bypass,Edappally, Kochi, Kerala 682024, India</span>
                <span>Call Us: 0123456789, 0123456789</span>
                <span>Email: techoasistest@gmail.com</span>
            </address>

            <ul class="social-link">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>

            <ul class="user-link">
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">Checkout</a></li>
            </ul>
        </div>
        <!-- End Mobile contact Info -->

    </div> <!-- End Offcanvas Mobile Menu Wrapper -->
</div> <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

<!-- Start Offcanvas Mobile Menu Section -->
<div id="offcanvas-about" class="offcanvas offcanvas-rightside offcanvas-mobile-about-section">
    <!-- Start Offcanvas Header -->
    <div class="offcanvas-header text-right">
        <button class="offcanvas-close"><i class="ion-android-close"></i></button>
    </div> <!-- End Offcanvas Header -->
    <!-- Start Offcanvas Mobile Menu Wrapper -->
    <!-- Start Mobile contact Info -->
    <div class="mobile-contact-info">
        <div class="logo">
            <a href="/home"><img src="/userassets/images/techoasis_logo.png" alt="logo"></a>
        </div>

        <address class="address">
            <span>Address: 41/353,Basement 1,Oberon mall, NH Bypass,Edappally, Kochi, Kerala 682024, India</span>
            <span>Call Us: 0123456789, 0123456789</span>
            <span>Email: techoasistest@gmail.com</span>
        </address>

        <ul class="social-link">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>

        <ul class="user-link">
            <li><a href="#">Wishlist</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="#">Checkout</a></li>
        </ul>
    </div>
    <!-- End Mobile contact Info -->
</div> <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

<!-- Offcanvas Overlay -->
<div class="offcanvas-overlay"></div>

    <!-- ...:::: Start Error Section :::... -->
    <div class="error-section">
        <div class="container">
            <div class="row">
                <div class="error-form">
                    <h1 class="big-title" data-aos="fade-up" data-aos-delay="0">404</h1>
                    <h4 class="sub-title" data-aos="fade-up" data-aos-delay="200">Oops! <%= errorMessage %></h4>
                    <p data-aos="fade-up" data-aos-delay="400">Sorry but the page you are looking for does not exist,
                        have been<br> removed, name changed or is temporarily unavailable.
                        <br> Please try again later or go back to the previous page</p>
                    <div class="row">
                        <div class="col-10 offset-1 col-md-4 offset-md-4">
                            <a href="#" class="btn btn-md btn-black-default-hover mt-7" data-aos="fade-up"
                                data-aos-delay="0" onclick="goBack()">Go Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Error Section :::... -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="/userassets/js/vendor/vendor.min.js"></script>
    <script src="/userassets/js/plugins/plugins.min.js"></script>

    <!-- Main JS -->
    <script src="/userassets/js/main.js"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>



</html>