<!-- Start Header Area -->
<%- include('user-partials/header.ejs') %>
<!-- End Header Area -->

<style>
    .dashboard-container {
        max-width: 500px;
        margin: auto;
        padding: 20px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .dashboard-header {
        text-align: center;
        margin-bottom: 20px;
    }

    .dashboard-header h1 {
        margin: 0;
        font-size: 24px;
        color: #333;
    }

    .user-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .d-flex {
        display: flex;
    }

    .d-flex span {
        font-weight: bold;
        padding-right: 15px;
        color: #555;
    }

    .d-flex p {
        margin: 0;
        color: #333;
    }

    .view i {
        margin-right: 5px;
    }

    .text-red {
        color: red !important;
        font-size: 12px;
        margin-top: 5px;
    }
    .form-background {
        background-color: #f9f9f9;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .default-form-box {
        margin-bottom: 20px;
    }
    .btn-black-default-hover {
        background-color: #000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
    }
    .btn-black-default-hover:hover {
        background-color: #333;
    }

    .password-input {
        position: relative;
    }
    
    .password-toggle-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        cursor: pointer;
    }

</style>

<!-- Start Navbar Area -->
<%- include('user-partials/navbar.ejs') %>
<!-- End Navbar Area -->

<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Change Password</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="/home">Home</a></li>
                                <li><a href="/profile">Profile</a></li>
                                <li class="active" aria-current="page">Change Password</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->

<!-- ...:::: Start Account Dashboard Section:::... -->
<div class="container">
    <div class="row justify-content-center">
        <!-- Change Password Start -->
        <div class="col-lg-4 col-md-4 form-background pt-2 pb-2">
            <div class="account_form register" data-aos="fade-up" data-aos-delay="200">
                <form id="changePasswordForm">
                    <div class="default-form-box">
                        <label>Current Password <span class="text-red">*</span></label>
                        <span id="currrentPasswordMessage" class="text-danger"></span>
                        <div class="password-input">
                            <input type="password" placeholder="Current Password" name="currentPassword" id="currentPassword" maxlength="20" required style="border: 1px solid #000!important;">
                            <span class="password-toggle-button" onclick="togglePasswordVisibility(this, 'currentPassword')">
                                <i class="fas fa-eye"></i>
                            </span>
                        </div>
                    </div>
                    <div class="default-form-box">
                        <label>New Password <span class="text-red">*</span></label>
                        <span id="newPasswordMessage" class="text-danger"></span>
                        <div class="password-input">
                            <input type="password" placeholder="New Password" name="newPassword" id="newPassword" maxlength="20" required style="border: 1px solid #000!important;">
                            <span class="password-toggle-button" onclick="togglePasswordVisibility(this, 'newPassword')">
                                <i class="fas fa-eye"></i>
                            </span>
                        </div>
                    </div>
                    <div class="default-form-box">
                        <label>Confirm Password <span class="text-red">*</span></label>
                        <span id="passwordMatchMessage" class="text-red"></span>
                        <div class="password-input">
                            <input type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" maxlength="20" required style="border: 1px solid #000!important;">
                            <span class="password-toggle-button" onclick="togglePasswordVisibility(this, 'confirmPassword')">
                                <i class="fas fa-eye"></i>
                            </span>
                        </div>
                    </div>
                    <div class="login_submit">
                        <button id="submitBtn" class="btn btn-md btn-black-default-hover">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Change Password End -->
    </div>
</div>
<!-- ...:::: End Account Dashboard Section:::... -->

<!-- Start Footer Section -->
<%- include('user-partials/footer.ejs') %>
<!-- End Footer Section -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- custom scripts -->
<script>
    document.getElementById('submitBtn').addEventListener('click', async function(e) {
        e.preventDefault();

        const currentPasswordInput = document.getElementById('currentPassword');
        const newPasswordInput = document.getElementById('newPassword');
        const confirmPasswordInput = document.getElementById('confirmPassword');
    
        const currentPassword = currentPasswordInput.value.trim();
        const newPassword = newPasswordInput.value.trim();
        const confirmPassword = confirmPasswordInput.value.trim();
    
        const newPasswordMessage = document.getElementById('newPasswordMessage');
        const passwordMatchMessage = document.getElementById('passwordMatchMessage');

        newPasswordMessage.textContent = '';
        passwordMatchMessage.textContent = '';
        
        if (newPassword.length < 8) {
            newPasswordMessage.textContent = 'New password must be at least 8 characters long.';
            return;
        }

        if (newPassword !== confirmPassword) {
            passwordMatchMessage.textContent = 'New password and confirm password do not match.';
            return;
        }
    

        try {
            const response = await fetch('/change-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    currentPassword,
                    newPassword,
                    confirmPassword
                })
            });
    
            const data = await response.json();
            if (response.ok) {
                await Swal.fire({
                    title: 'Success',
                    text: data.message,
                    icon: 'success',
                    confirmButtonText: 'OK'
                });
                window.location.href = data.redirectUrl;
            } else {
                await Swal.fire({
                    title: 'Error',
                    text: data.message,
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
        } catch (error) {
            await Swal.fire({
                title: 'Error',
                text: "Network or server error",
                icon: 'error',
                confirmButtonText: 'OK'
            });
        }
    });
    
    // Password Toggle
    function togglePasswordVisibility(button, inputId) {
        const input = document.getElementById(inputId);
        const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
        input.setAttribute('type', type);
        button.innerHTML = type === 'password' ? '<i class="fas fa-eye"></i>' : '<i class="fas fa-eye-slash"></i>';
    }

</script>

<%- include('user-partials/scripts.ejs') %>