<!-- ::::::::::::::All JS Files here :::::::::::::: -->
    <script src="/userassets/js/vendor/vendor.min.js"></script>
    <script src="/userassets/js/plugins/plugins.min.js"></script>

    <!-- Main JS -->
    <script src="/userassets/js/main.js"></script>
</body>

</html>